.button {
    font-family: var(--secondary-font);
    text-transform: capitalize;
    font-weight: bold;
    color: var(--black);
    background-color: var(--green);
    letter-spacing: 0.05em;

    padding: 7px 12px;
    border-radius: 5px;
    border: 1px solid var(--black);
    box-shadow: 2px 2px 5px var(--black);
}

.button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.button--second {
    background-color: var(--orage);
}
