@import './buttons.css';
@import './variables.css';
@import './fonts.css';
@import './header.css';

body {
    font-family: var(--main-font);
    font-size: var(--normal);
    padding: 0;
    margin: 0;
    background-color: var(--gray);
    box-sizing: border-box;
}
