@import '/styles/variables.css';
@import '/styles/fonts.css';
@import './buttons.css';

body {
    font-family: var(--main-font);
    font-size: var(--normal);
    padding: 0;
    margin: 0;
    background-color: var(--gray);
    box-sizing: border-box;
}
